@model Bdots1.CertUser
@{
    Layout = null;
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    var mailSent = "@ViewBag.Message";
    if (!(mailSent===""))
        alert(mailSent);
</script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>

        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 2px solid rgb(0,0,0);
            border-radius: 5px;
            background-color: #e7e7e7;
        }

        .field-validation-error {
            color: red;
        }
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }
        .Login {
            padding: 6px 58px;
            background-color: white;
            color: black;
            border: 2px solid #555555;
        }
        .Login:hover {
            background-color: #555555;
            color: white;
        }

        .Registration {
            padding: 6px 35px;
            background-color: white;
            color: black;
            border: 2px solid rgb(169,169,169);
        }
            .Registration:hover {
                background-color: rgb(169,169,169);
            }
        label {
            padding-left: 5px;
            font-weight: bold;
            display: block;
            width: 150px;
            float: left;
        }
        .titleLogin {
            text-decoration: underline;
            font-weight: bold;
            font-size: 32px;
        }
        .text-box, #password {
            padding-top: 6px;
            border: 2px solid rgb(0,0,0);
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
        <table>
            <tr>
                <td></td>
                <td class="titleLogin">~ Login ~</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.username, "Username")
                </td>
                <td>
                    @Html.EditorFor(model => model.username, "user")
                </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.username)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.password, "Password")</td>
                <td>@Html.PasswordFor(model => model.password)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.password)</td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" class="button Login" />
                    <br />
                    <input type="button" value="Registration" class="button Registration" onclick="@("window.location.href='" + @Url.Action("Registration", "Registration") + "'");">
                </td>
            </tr>
        </table>
        }
        <h3>@Html.ActionLink("Forgot password?", "ForgotPassword", "NavigationBar")</h3>
    </div>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>

